<div class="panel-body" id="ownerPanelBody">Owner Info</div>
			<div class="panel-body" id="ownerPanelBody">
				<table class="table table-owner-info">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>{{owner_fname}}</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>{{owner_lname}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{owner_dob}}</td>
                      </tr>
                        <tr>
                        <td>Sex</td>
                        <td>{{owner_sex}}</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>{{address}}</td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>{{city}}</td>
                      </tr> 
                      <tr>
                        <td>State</td>
                        <td>{{state}}</td>
                       </tr>
                       <tr>
                        <td>Zip</td>
                        <td>{{zip}}</td>
                       </tr>
                       <tr>
                        <td>Phone</td>
                        <td>{{phone}}</td>
                       </tr>
                       <tr>
                        <td>Fax</td>
                        <td>{{fax}}</td>
                       </tr>
                       <tr>
                        <td>Fax</td>
                        <td>{{fax}}</td>
                       </tr>
                       <tr>
                         <td>ownerId:</td>
                         <td>{{ownerId}}</td>
                       </tr>
                         <tr>
                        <td>id:</td>
                        <td>{{id}}</td>
                       </tr>
                    </tbody>
                  </table> 
                  <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                    </div>   
			<div>