
<div class="container"><h1>Bootstrap  tab panel example (using nav-pills)  </h1></div>
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Pet Info</a>
			</li>
			<li><a href="#2a" data-toggle="tab">Vet1 Info</a>
			</li>
			<li><a href="#3a" data-toggle="tab">Vet2 Info</a>
			</li>
		</ul>

	<div class="tab-content clearfix">
			<div class="tab-pane active" id="1a">
      <div class="panel-body" id="ownerPanelBody">Pet Info</div>
			<div class="panel-body" id="ownerPanelBody">
				<table class="table table-owner-info">
                    <tbody>
                      <tr>
                        <td>Pet Id:</td>
                        <td>{{id}}</td>
                      </tr>
                      <tr>
                        <td>Pet Namee:</td>
                        <td>{{pet_name}}</td>
                      </tr>
                      <tr>
                        <td>Type:</td>
                        <td>{{pet_type}}</td>
                      </tr>
                        <tr>
                        <td>Breed:</td>
                        <td>{{pet_breed}}</td>
                      </tr>
                        <tr>
                        <td>DOB:</td>
                        <td>{{pet_dob}}</td>
                      </tr>
                      <tr>
                        <td>DOD:</td>
                        <td>{{pet_dod}}</td>
                      </tr> 
                      <tr>
                        <td>License No:</td>
                        <td>{{License_no}}</td>
                       </tr>
                       <tr>
                        <td>Microchip #:</td>
                        <td>{{microchip_no}}</td>
                       </tr>
                       <tr>
                        <td>Spayed/Neutered</td>
                        <td>{{spayed_neutered_ind}}</td>
                       </tr>
                       <tr>
                        <td>Condition 1</td>
                        <td>{{cond1}}</td>
                       </tr>
                       <tr>
                        <td>Condition 2</td>
                        <td>{{cond2}}</td>
                       </tr>
                       <tr>
                         <td>Condition 3:</td>
                         <td>{{cond3}}</td>
                       </tr>
                       <tr>
                         <td>Medication 1:</td>
                         <td>{{med1}}</td>
                       </tr>
                       <tr>
                         <td>Medication 2:</td>
                         <td>{{med2}}</td>
                       </tr>
                      <tr>
                         <td>Medication 3:</td>
                         <td>{{med3}}</td>
                       </tr>
                      <tr>
                        <td>Owner Id:</td>
                        <td>{{ownerId}}</td>
                      </tr>
                    </tbody>
                  </table> 
                  <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                    </div>   
			<div>
				</div>
				<div class="tab-pane" id="2a">
         <div class="panel-body" id="vet2PanelBody">Owner Info</div>
			<div class="panel-body" id="vet2PanelBody">
				<table class="table table-vet2-info">
                    <tbody>
                      <tr>
                        <td>Vet Name:</td>
                        <td>{{vet1_name}}</td>
                      </tr>
                      <tr>
                        <td>Specialty:</td>
                        <td>{{vet1_specialty}}</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{vet1_address}}</td>
                      </tr>
                        <tr>
                        <td>City</td>
                        <td>{{vet1_city}}</td>
                      </tr>
                        <tr>
                        <td>State</td>
                        <td>{{vet1_state}}</td>
                      </tr>
                      <tr>
                        <td>Zip</td>
                        <td>{{vet1_zip}}</td>
                      </tr> 
                      <tr>
                        <td>Phone</td>
                        <td>{{vet1_phone}}</td>
                       </tr>
                       <tr>
                        <td>Email</td>
                        <td>{{vet1_email}}</td>
                       </tr>
                       <tr>
                        <td>Fax</td>
                        <td>{{vet1_fax}}</td>
                       </tr>
                    </tbody>
                  </table> 
                  <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                    </div>   
			<div>
			</div>
      <div class="tab-pane" id="3a">
            <div class="panel-body" id="vet2PanelBody">Owner Info</div>
			        <div class="panel-body" id="vet2PanelBody">
				        <table class="table table-vet2-info">
                <tbody>
                      <tr>
                        <td>Vet Name:</td>
                        <td>{{vet2_name}}</td>
                      </tr>
                      <tr>
                        <td>Specialty:</td>
                        <td>{{vet2_specialty}}</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{vet2_address}}</td>
                      </tr>
                        <tr>
                        <td>City</td>
                        <td>{{vet2_city}}</td>
                      </tr>
                        <tr>
                        <td>State</td>
                        <td>{{vet2_state}}</td>
                      </tr>
                      <tr>
                        <td>Zip</td>
                        <td>{{vet2_zip}}</td>
                      </tr> 
                      <tr>
                        <td>Phone</td>
                        <td>{{vet2_phone}}</td>
                       </tr>
                       <tr>
                        <td>Email</td>
                        <td>{{vet2_email}}</td>
                       </tr>
                       <tr>
                        <td>Fax</td>
                        <td>{{vet2_fax}}</td>
                       </tr>
                    </tbody>
                  </table> 
                  <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                    </div>   
			<div>
				</div>
			</div>
  </div>




<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>