<!-- Login/Signup Section -->
<section id="loginsec">
	<div class="container">
		<div class="row">
			<div id="tabs">
				<ul id="ultabs" class="nav nav-tabs" role="tablist">
					<li class="active"><a class='indexTab' id="logintab" href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
					<li ><a class='indexTab' id="signuptab" href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign up</a></li>
					<li ><a class='indexTab' id="forgottab" href="#forgot" aria-controls="forgot" role="tab" data-toggle="tab">Forgot</a></li>
				</ul>
				<span class="required_notification">* Denotes Required Field</span>
				<div class="tab-content portal">
					<!--************************ Register **************************-->
					<div id="signup" class="tab-pane fade">
						<form class="form-horizontal form-field register" action="/api/register" role="form" name="registerfrm" id="registerfrm" method="POST" autocomplete="off">
							<div class="form-group">
								<label class="control-label col-xs-3" for="fname">First Name:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="text" name="fname" id="fname" tabindex="1" value="{{fname}}" placeholder="Enter your first name." pattern=".{2,}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="lname">Last Name:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="text" name="lname" id="lname" tabindex="2" value="{{lname}}" placeholder="Enter your last name." pattern=".{2,}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="dob">Date of Birth:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control" type="text" name="dob" id="dob" tabindex="3" value="{{dob}}" placeholder="Enter your date of birth." pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d">
								</div>
								<span><a href="#loginsec" class="petstooltip page-scroll" title="Date Format: MM/DD/YYYY"><img id="route-input-help" src="/assets/css/icons/info-blue.png" class="info-icon" ></a></span>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3">Sex:</label>
								<div class="col-xs-11 col-sm-7">
									<label class="radio-inline">
										<input type="radio" name="sex" id="male" tabindex="4" value="M"> Male
									</label>
									<label class="radio-inline">
										<input type="radio" name="sex" id="female" value="F"> Female
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="email">Email:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="email" name="email" id="email" tabindex="5" value="{{email}}" placeholder="Enter your contact email address." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
								</div>
								<span><a href="#loginsec" class="petstooltip page-scroll" title="This will be used for communications."><img id="route-input-help" src="/assets/css/icons/info-blue.png" class="info-icon" ></a></span>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="phone">Phone:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control" type="text" name="phone" id="phone" tabindex="6" value="{{phone}}" placeholder="Enter your contact phone number." pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="fax">Fax:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control" type="text" name="fax" id="fax" tabindex="7" value="{{fax}}" placeholder="Enter your contact fax number." pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="address">Address:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control" type="text" name="address" id="address" tabindex="8" value="{{address}}" placeholder="Enter your contact address." pattern="[0-9()-]{13}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3">City - State - Zip:</label>
								<div class="col-xs-11 col-sm-7">
									<div class="row">
										<div class="col-xs-4">
											<input type="text" tabindex="9" class="form-control" value='{{city}}' name="city" id="city" placeholder="City">
										</div>
										<div class="col-xs-4">
											<select class="form-control" tabindex="10" name="state" id="state">
												<option value="" disabled selected>Select one ...</option>
												<option value="AL">Alabama</option>
												<option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
												<option value="CA">California</option>
												<option value="CO">Colorado</option>
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="DC">District Of Columbia</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="HI">Hawaii</option>
												<option value="ID">Idaho</option>
												<option value="IL">Illinois</option>
												<option value="IN">Indiana</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NV">Nevada</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NM">New Mexico</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="ND">North Dakota</option>
												<option value="OH">Ohio</option>
												<option value="OK">Oklahoma</option>
												<option value="OR">Oregon</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="SD">South Dakota</option>
												<option value="TN">Tennessee</option>
												<option value="TX">Texas</option>
												<option value="UT">Utah</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WA">Washington</option>
												<option value="WV">West Virginia</option>
												<option value="WI">Wisconsin</option>
												<option value="WY">Wyoming</option>
											</select>
										</div>
										<div class="col-xs-4">
											<input type="text" tabindex="11" class="form-control" name="zip" id="zip" placeholder="Zip" value="{{zip}}" PATTERN="(\d{5}([\-]\d{4})?)">
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="control-label col-xs-3" for="username">Username:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="text" name="username" id="username" tabindex="12" value="{{username}}" placeholder="Please enter your desired username." pattern="^[a-z][a-z0-9]{6,10}$">
								</div>
								<span><a href="#loginsec" class="petstooltip page-scroll" title="Username should only contain lowercase letters and numbers, starting with a letter, at least 6 upto 10 characters."><img id="route-input-help" src="/assets/css/icons/info-blue.png" class="info-icon" ></a></span>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="password">Password:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="password" name="password" id="password" tabindex="13" value="" placeholder="Choose a password for your account." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.confirmpass.pattern = this.value;">
								</div>
								<span><a href="#loginsec" class="petstooltip page-scroll" title="Must be at least 6 upto 16 characters including one number, one lowercase and one uppercase letter."><img id="route-input-help" src="/assets/css/icons/info-blue.png" class="info-icon" ></a></span>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="confirmpass">Confirm Password:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="password" name="repassword" id="confirmpass" tabindex="14" value="" placeholder="Retype the password to confirm." pattern="">
								</div>
							</div>
							<div class="message frontmsg hide" id="signup-err-msg"></div>
							{{#if regError}}
								{{#each regError}}
								<div class="message">
									{{this.message}}
								</div>
								{{/each}}
							{{/if}} 
							<div class="form-group form-footer text-center">
								<button type="submit" tabindex="15" id="signupbtn" class="btn btn-primary btn-xl submitbtn" value="signup">Register</button>
							</div>
							<div class="form-group form-footer text-center">
								<p>Already Registered? <b>Log in <a href="#login" aria-controls="login" role="tab" data-toggle="tab">here</a></b></p>
							</div>
						</form>
					</div>

					<!--************************ Login **************************-->
					<div id="login" class="tab-pane fade in active">
						<form class="form-horizontal form-field register" action="/api/login" role="form" name="loginfrm" id="loginfrm" method="POST" autocomplete="off">
							<div class="form-group">
								<label class="control-label col-xs-3" for="login-id">User ID:</label>
								<div class="col-xs-11 col-sm-7">
									 <input autocomplete="off" class="form-control reqfield" name="username" id="login-id" placeholder="Enter your user id" value="{{username}}"> <!--pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"-->
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="login-pass">Password:</label>
								<div class="col-xs-11 col-sm-7">
									<input autocomplete="off" class="form-control reqfield" type="password" name="password" id="login-pass" placeholder="Enter your password" value="">
								</div>
							</div>
							<div class="message frontmsg hide" id="login-err-msg"></div>
							{{#if loginError}}
								{{#each loginError}}
								<div class="message">
									 {{this}}
								</div>
								{{/each}}
							{{/if}}	
							<div class="form-group form-footer text-center">
								<p><input type="checkbox" name="keeplogin" id="keeplogin"> Keep me logged in</p>
								<button type="submit" id="loginbtn" class="btn btn-primary btn-xl submitbtn" value="login">Login</button>
							</div>
							<!-- <div class="input-group-addon link-icon openmap" data-toggle="modal" data-target="#mapmodal">
								<span class="fa fa-location-arrow"></span>
							</div> -->
							<div class="form-group form-footer text-center">
								<p>Forgot your password? Retrieve your password <b><a href="#forgot" aria-controls="forgot" role="tab" data-toggle="tab">here</a></b></p>
								<p>You don't have an account yet? Register <b><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">here</a></b></p>
							</div>
						</form>
					</div>

					<!--************************ Forgot **************************-->
					<div id="forgot" class="tab-pane fade">
						<form class="form-horizontal form-field register" action="/forgot" role="form" name="forgotfrm" id="forgotfrm" method="POST" autocomplete="off">
							<div class="form-group">
								<label class="control-label col-xs-3" for="forgotemail">Email:</label>
								<div class="col-xs-11 col-sm-7">
									<input class="form-control reqfield" type="email" name="forgotemail" id="forgotemail" tabindex="8" value="" placeholder="Enter your email address." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
								</div>
							</div>
							<div class="message frontmsg hide" id="login-err-msg"></div>
							{{#if forgotError}}
								<div class="message">
								{{#each forgotError}}
									<div class="alert alert-warning" role="alert"><button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Error! </strong> {{this}}</div>
								{{/each}}
								</div>
							{{/if}} 
							<div class="form-group form-footer text-center">
								<button type="submit" id="forgotbtn" class="btn btn-primary btn-xl submitbtn" value="forgot">Send Reminder</button>
							</div>
							<div class="form-group form-footer text-center">
								<p>Suddenly remebered? Log in <b><a href="#login" aria-controls="login" role="tab" data-toggle="tab">here</a></b></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Profile Section -->
 {{#if loggedIn}}
{{!-- <section id="profilesec">
	          {{> petsTable}}       
	   {{> medTable}} 
	    {{> vacTable}} 
		 {{> ownerTable}}        
</section> --}}

  <!-- Profile Section -->
  <section id="profilesec">
    <div id="ownerdash" class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title"><i class="fa fa-user"></i>Owner Profile</span>
              <button name="ownereditbtn" id="ownereditbtn" class="btn btn-primary btn-sm pull-right" title "Edit"  data-target="#editowner">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-striped borderless">
                <tr>
                  <td>First Name:</td>
                  <td id="firstname"></td>
                </tr>
                <tr>
                  <td>Last Name:</td>
                  <td id="lastname"></td>
                </tr>
                <tr>
                  <td>DOB:</td>
                  <td id="dateofbirth"></td>
                </tr>
                <tr>
                  <td>Sex:</td>
                  <td id="ownSex"></td>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td id="ownAddress"></td>
                </tr>
                <tr>
                  <td>City:</td>
                  <td id="ownCity"></td>
                </tr>
                <tr>
                  <td>State:</td>
                  <td id="ownState"></td>
                </tr>
                <tr>
                  <td>Zip:</td>
                  <td id="ownZip"></td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td id="ownPhone"></td>
                </tr>
                <tr>
                  <td>Fax:</td>
                  <td id="ownFax"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
          {{> ownerTable}}
        <div class="col-sm-8">
          {{> petsTable}}
        </div>
      </div>
    </div>
  </div>
    <div id="petdash" class="container hide">
      <div class="row">
        <div class="col-sm-12">
          <button id="back-owner" class="btn btn-primary btn-margin"><span class="fa fa-arrow-left"></span> Owner Profile</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-info panel-size">
            <div class="panel-heading">
              <span class="panel-title"><img src="assets/img/pets.png" alt="pets">Pet Profile</span>
              <button name="peteditbtn" id="peteditbtn" class="btn btn-primary btn-sm pull-right" title "Edit" data-toggle="modal" data-target="#editpet">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div class="panel-body table-responsive">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                  <a href="#info" aria-controls="info" role="tab" data-toggle="tab"><span class="fa fa-info-circle"></span> Pet Info</a>
                </li>
                <li role="presentation">
                  <a href="#vet1" aria-controls="vet1" role="tab" data-toggle="tab"><span class="fa fa-user-md"></span> Vet 1</a>
                </li>
                <li role="presentation">
                  <a href="#vet2" aria-controls="vet2" role="tab" data-toggle="tab"><span class="fa fa-user-md"></span> Vet 2</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="info">
                  <table class="table table-striped borderless">
                    <tr>
                      <td>Name:</td>
                      <td id="pettable-td-name">Ginger</td>
                      <td rowspan="6"><img id="petimg" src="https://www.dropbox.com/s/p0a5anlv6qv9jlx/ginger.jpg?raw=1" alt="Ginger"></td>
                    </tr>
                    <tr>
                      <td >Type:</td>
                      <td id="pettable-td-type">Dog</td>
                    </tr>
                    <tr>
                      <td>Breed:</td>
                      <td id="pettable-td-breed">Cavapoo</td>
                    </tr>
                    <tr>
                      <td>Color:</td>
                      <td id="pettable-td-color">Brown</td>
                    </tr>
                    <tr>
                      <td>DOB:</td>
                      <td id="pettable-td-dob">18 Dec 2015</td>
                    </tr>
                    <tr>
                      <td>Sex:</td>
                      <td id="pettable-td-sex">Female</td>
                    </tr>
					          <tr>
                      <td colspan="2">License:</td>
                      <td id="pettable-td-license">234523534</td>
                    </tr>
                    <tr>
                      <td colspan="2">Microchip:</td>
                      <td id="pettable-td-microchip">Yes</td>
                    </tr>
                    <tr>
                      <td colspan="2">Spayed / Neutered:</td>
                      <td id="pettable-td-spayedneutered">Yes</td>
                    </tr>
                    <tr>
                      <td colspan="2">Condition 1:</td>
                      <td  id="pettable-td-cond1">N/A</td>
                    </tr>
                    <tr>
                      <td colspan="2">Condition 2:</td>
                      <td id="pettable-td-cond2">N/A</td>
                    </tr>
                    <tr>
                      <td colspan="2">Condition 3:</td>
                      <td id="pettable-td-cond3">N/A</td>
                    </tr>
                    <tr>
                      <td colspan="2">Medication 1:</td>
                      <td id="pettable-td-med1">N/A</td>
                    </tr>
                    <tr>
                      <td colspan="2">Medication 2:</td>
                      <td id="pettable-td-med2">N/A</td>
                    </tr>
                    <tr>
                      <td colspan="2">Medication 3:</td>
                      <td id="pettable-td-med3">N/A</td>
                    </tr>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="vet1">
                  <table class="table table-striped borderless">
                    <tr>
                      <td>Name:</td>
                      <td id="pettable-td-v1name">Trinity Pet Hospital</td>
                    </tr>
                    <tr>
                      <td>Specialty:</td>
                      <td id="pettable-td-v1spec">All</td>
                    </tr>
                    <tr>
                      <td>Address:</td>
                      <td id="pettable-td-v1addr">24861 Alicia Pkwy Ste D</td>
                    </tr>
                    <tr>
                      <td>City:</td>
                      <td id="pettable-td-v1city">Laguna Hills</td>
                    </tr>
                    <tr>
                      <td>State:</td>
                      <td id="pettable-td-v1state">California</td>
                    </tr>
                    <tr>
                      <td>Zip:</td>
                      <td id="pettable-td-v1zip">92653</td>
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td id="pettable-td-v1phone">949-232-1788</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td id="pettable-td-v1email">info@lagunapetvet.com</td>
                    </tr>
                    <tr>
                      <td>Fax:</td>
                      <td id="pettable-td-v1fax">949-768-5125</td>
                    </tr>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="vet2">
                  <table class="table table-striped borderless">
                    <tr>
                      <td>Name:</td>
                      <td id="pettable-td-v2name">Trinity Pet Hospital</td>
                    </tr>
                    <tr>
                      <td>Specialty:</td>
                      <td id="pettable-td-v2spec">All</td>
                    </tr>
                    <tr>
                      <td>Address:</td>
                      <td id="pettable-td-v2addr">24861 Alicia Pkwy Ste D</td>
                    </tr>
                    <tr>
                      <td>City:</td>
                      <td id="pettable-td-v2city">Laguna Hills</td>
                    </tr>
                    <tr>
                      <td>State:</td>
                      <td id="pettable-td-v2state">California</td>
                    </tr>
                    <tr>
                      <td>Zip:</td>
                      <td id="pettable-td-v2zip">92653</td>
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td id="pettable-td-v2phone">949-232-1788</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td id="pettable-td-v2email">info@lagunapetvet.com</td>
                    </tr>
                    <tr>
                      <td>Fax:</td>
                      <td id="pettable-td-v2fax">949-768-5125</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          {{> vacTable}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{> medTable}}
        </div>
      </div>
    </div>
    <!-- editpet Modal -->
    <div class="modal fade" id="editpet" tabindex="-1" role="dialog" aria-labelledby="editpetlbl">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editownerlbl"><i class="fa fa-user"></i> Edir your profile</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal form-field register" action="/api/register" role="form" name="registerfrm" id="registerfrm" method="POST" autocomplete="off">
              <div class="form-group">
                <label class="control-label col-xs-3" for="fname">First Name:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control reqfield" type="text" name="fname" id="fname" tabindex="1" value="" placeholder="Enter your first name." pattern=".{2,}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="lname">Last Name:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control reqfield" type="text" name="lname" id="lname" tabindex="2" value="" placeholder="Enter your last name." pattern=".{2,}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="dob">Date of Birth:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control" type="text" name="dob" id="dob" tabindex="3" value="" placeholder="Enter your date of birth." pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d">
                </div>
                <span><a href="#loginsec" class="petstooltip page-scroll" title="Date Format: MM/DD/YYYY"><img id="route-input-help" src="assets/css/icons/info-blue.png" class="info-icon" ></a></span>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">Sex:</label>
                <div class="col-xs-11 col-sm-7">
                  <label class="radio-inline">
                    <input type="radio" name="sex" id="male" tabindex="4" value="M"> Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sex" id="female" value="F"> Female
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="email">Email:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control reqfield" type="email" name="email" id="email" tabindex="5" value="" placeholder="Enter your contact email address." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
                <span><a href="#loginsec" class="petstooltip page-scroll" title="This will be used for communications."><img id="route-input-help" src="assets/css/icons/info-blue.png" class="info-icon" ></a></span>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="phone">Phone:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control" type="text" name="phone" id="phone" tabindex="6" value="" placeholder="Enter your contact phone number." pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="fax">Fax:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control" type="text" name="fax" id="fax" tabindex="7" value="" placeholder="Enter your contact fax number." pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="address">Address:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control" type="text" name="address" id="address" tabindex="8" value="" placeholder="Enter your contact address." pattern="[0-9()-]{13}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">City-State-Zip:</label>
                <div class="col-xs-11 col-sm-7">
                  <div class="row">
                    <div class="col-xs-5">
                      <input type="text" tabindex="9" class="form-control" name="city" id="city" placeholder="City">
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control" tabindex="10" name="state" id="state">
                        <option value="" disabled selected>... Select one</option>
                        <option value="AL">Alabama</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" tabindex="11" class="form-control" name="zip" id="zip" placeholder="Zip" PATTERN="(\d{5}([\-]\d{4})?)">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label class="control-label col-xs-3" for="password">Password:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control reqfield" type="password" name="password" id="password" tabindex="13" value="" placeholder="Choose a password for your account." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.confirmpass.pattern = this.value;">
                </div>
                <span><a href="#loginsec" class="petstooltip page-scroll" title="Must be at least 6 upto 16 characters including one number, one lowercase and one uppercase letter."><img id="route-input-help" src="assets/css/icons/info-blue.png" class="info-icon" ></a></span>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="confirmpass">Confirm:</label>
                <div class="col-xs-11 col-sm-7">
                  <input class="form-control reqfield" type="password" name="confirmpass" id="confirmpass" tabindex="14" value="" placeholder="Retype the password to confirm." pattern="">
                </div>
              </div>
              <div class="message frontmsg hide" id="signup-err-msg"></div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- addpet Modal -->
    <div class="modal fade" id="addpet" tabindex="-1" role="dialog" aria-labelledby="addpetlbl">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addpetlbl"><img src="assets/img/pets.png" alt="pets"> Add your pet</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}
<!--If loged in value="1" Else value="0"-->
<input type="hidden" name="loggedin" id="loggedin" value="{{loggedIn}}">
