<div class="titan-caption">
    <div class="caption-content">
        <div class="col-sm-4 col-sm-offset-4 mb-sm-40">
            <h4 class="font-alt">Register</h4>
            <hr class="divider-w mb-10">
            <form class="form" action='/api/register' method="POST" id='regform'>
                <div class="form-group">
                <input class="form-control" value='{{fname}}' id="fname" type="text" name="fname" placeholder="First Name*"/>
                </div>
                <div class="form-group">
                <input class="form-control" value='{{lname}}' id="lname" type="text" name="lname" placeholder="Last Name*"/>
                </div>
                <div class="form-group">
                <input class="form-control" value='{{email}}' id="email" type="text" name="email" placeholder="Email*"/>
                </div>
                <div class="form-group">
                <input class="form-control" value='{{username}}' id="username" type="text" name="username" placeholder="Username*"/>
                </div>
                <div class="form-group">
                <input class="form-control" value='{{password}}' id="password" type="password" name="password" placeholder="Password*"/>
                </div>
                <div class="form-group">
                <input class="form-control" id="repassword" type="password" name="repassword" placeholder="Re-enter Password*"/>
                </div>
                <div class="form-group">
                <button class="btn btn-block btn-round btn-b">Register</button>
                </div>
            </form>
            {{#if error}}
                {{#each error}}
                <div class="alert alert-warning" role="alert"><button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Error! </strong> {{this.message}}</div>
                {{/each}}
            {{/if}}  
        </div>
    </div>
</div>